
<!-- footer.ejs -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<h6>trademark YelpCamp 2015</h6>
</body>
</html>
<!-- /footer.ejs -->
