<!-- header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>YelpCamp</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/yelpcamp-main.css">
</head>
<body>
<!-- /header.ejs -->
