/*lecture160.css*/

body {

}

#container {
  border: 2px solid lightgray;
  width: 360px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
}

.completed {
  color: gray;
  text-decoration: line-through;
}
