body {
  background: #eeeeee;
}
/*li {
  border: 2px solid red;
}
#third-li {
  color: blue;
  background-color: yellow;
}
.completed {
  text-decoration: line-through;
}*/

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
