<% include ./partials/header %>

<h1>Passport Auth Demo - Home</h1>

  <a href="/register"><button>Register</button></a>
  <a href="/login"><button>Login</button></a>
  <a href="/logout"><button>Log out</button></a>

<% include ./partials/footer %>

